<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">

 <!-- Appender, Layout 설정 -->
 <Appenders>
  <Console name="console" target="SYSTEM_OUT">
   <PatternLayout pattern="%d{yyyy-MM-dd hh:mm:ss} %5p [%c] %m%n"/>
  </Console>
  <File name="file" fileName="./logs/file/sample.log" append="false">
   <PatternLayout pattern="%d %5p [%c] %m%n"/>
  </File>
 </Appenders>

 <!-- Logger 설정 -->
 <loggers>
     <root level="debug" additivity="true">
         <AppenderRef ref="console"/>
     </root>
 </loggers>
 
  <!-- log4j2 -->
 <logger name="log4jdbc.log4j2" level="error" additivity="false">
	<appender-ref ref="Console" />
</logger>

<Logger name="jdbc.sqlonly" level="off" />

<Logger name="jdbc.sqltiming" level="info" />

<Logger name="jdbc.audit" level="off" />

<Logger name="jdbc.resultset" level="off" />

<Logger name="jdbc.resultsettable" level="info" />

<Logger name="jdbc.connection" level="off" />

</Configuration>

